<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>USER<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>MYPAGE<span>
    
<div class="PageHead_user">
  <div class="PageHead_user-title">
    <h2>MYPAGE</h2>
  </div>
  <div class="PageHead_user-text">
    <h2>マイページです。</h2>
  </div>
</div>

<div class="mypage-display">
  <h1 class="mypage-display_title">MYPAGE</h1>
</div>
