<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>ABOUT<span>
<div>
    
<div class="PageHead">
  <div class="PageHead_title">
    <h2>ABOUT</h2>
  </div>
  <div class="PageHead_text">
    <h2>ABOUT</h2>
  </div>
</div>

<div class="main-page">
  <div class="main-title">
    <h1>ABOUT</h1>
  </div>
  <h1 class="main-page_logo"></h1>
  <h2 class="main-page_text">は</h2>
  <h2 class="main-page_text2">施術が必要な方と整体師さんをつなげるサービスです</h2>
  <h1 class="main-page_image"></h1>
</div>
