<div class="Slide">
  <h1 class="top-image"></h1>
  <div class="top-message">
    <h2>みつかいろならあなたに合った整体師さんが見つかる</h2>
    <div class="top-message-buttton">
      <%= link_to "整体師さんを探す", root_path, class:"btn btn-lg btn-success" %>
    </div>
  </div>
</div>