/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 //画面全体の色を指定
 body {
  background: rgb(218, 220, 222);
 }
 
 ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }
 
//headerのライン
 .l-header {
  background: #fff;
  font-family: "sans-serif";
  font-size: 11px;
  height: 40px;
  left: 0;
  padding: 10px 0 10px 220px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
 }
 
 //logoについて
  .header-logo {
  background: url("logo.png") no-repeat;
  background-size: contain;
  height: 180px;
  left: 5px;
  padding: 20px 35px 35px;
  position: absolute;
  top: 0;
  width: 180px;
  display: inline-block;
 }
 
 .nav-main {
  display: flex;
 }
 
 .nav-color {
  color: #000;
 }
 
 //ヘッダーホバーしたときの色を指定
 .nav-color:hover {
  color: #bbbbbb;
  text-decoration: none;
 }
 
 .l-header_header-box {
  display: flex;
  margin: 0 5px 0 auto;
 }
 
 .l-header_header-box li {
  background: #2f2725;
  border-radius: 0 0 0 10px;
  margin-left: 10px;
  height: 60px;
  text-align: center;
  width: 100px;
  position: relative;
 }
 
 .l-header_header-box li:hover {
  background: #99CCCC;
 }
 
  .header-box_color {
   color: #fff;
   display: block;
   height: 100%;
   padding-top: 12px;
   position: relative;
   z-index: 1;
 }
 
   .header-box_color:hover {
   color: #fff;
   text-decoration: none;
 }
 
